{% extends "base.html" %}

{% block content %}

    <div id="title">
        <h2>FLAMES RELATIONSHIP CALCULATOR</h2>
    </div>



    <div id="box" tabindex="0">
        <div id="boxcontent" tabindex="0">
            <h2>Enter the names below: </h2><br>
            <form method="get" action="/3d"> {%csrf_token%}
                    <p style="font-size:1.17em; font-weight:bold">Name 1: </p>
                    <input type="text" name="name1"> <br><br>
                    <p style="font-size:1.17em; font-weight:bold">Name 2: </p>
                    <input type="text" name="name2"><br><br>
                    <input type="submit" value="Submit!">
                    <a href="/print_name">Click to print name</a>
            </form>
        </div>

        </div>
        <h1>Hey!</h1>


{% endblock %}