{% extends "base.html" %}

{% block home %}

    <div id="box" tabindex="0">
        <div id="title">
            <h2>FLAMES RELATIONSHIP CALCULATOR</h2>
        </div> 
        <div>
            <h3>Enter the names below: </h3><br>
            <form method="get" action="/3d"> {%csrf_token%}
                    <h3>Name 1: </h3>
                    <input type="text" name="name1"> <br><br>
                    <h3>Name 2: </h3>
                    <input type="text" name="name2"><br><br>
                    <input type="submit" value="Submit!">
                    <a href="/print_name">Click to print name</a>
            </form>
        </div>

        </div>
        <h1>Hey!</h1>

        <style>

                #title{
                    position: relative;
                    text-align: center;
                }
                #box{
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: solid 2px white;
                    padding: 50px;
                    background: rgb(1, 1, 1); /* Fallback color */
                    background: rgba(1, 1, 1, 0.5); /* Black background with 0.5 opacity */
                    color: #f1f1f1;
                }

                #box:focus{
                box-shadow: 0 0 50px blue;
                }
            </style>
{% endblock %}